
/* グローバルナビ
================================= */
#about #globalnavi ul li a#about_gnavi {
	border-bottom: 5px solid #FD80DD;
}
#about #globalnavi ul li a#about_gnavi:hover {
}

#about #document #mainTopic header:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

#about #document #mainTopic header img {
	float: left;
	width: 41%;
	margin-right: 0%;
	margin-top: 5%;
	margin-left: -6%;
	z-index: 0;
	margin-top: -4%;
	pointer-events: none;
}
#about #document #mainTopic header #aboutme {
	float: left;
	width: 42%;
	margin-left: 14%;
	margin-top: 13%;
	z-index: 99;
	position: relative;
	font-family: '1';
}


#about #document #mainTopic article img {
	width: 50%;
	height: 50%;
}

#about #document #mainTopic header #aboutme h2 {
	font-family: 'Linux_B';
}

#about #document #mainTopic header #aboutme p {
	font-family: 'Linux';
}

@font-face {
	font-family: 'Linux_B';
	src: url('../fonts/LinLibertine_aSZI.ttf');
}

@font-face {
	font-family: 'Linux';
	src: url('../fonts/LinLibertine_aSI.ttf');
}
