/* ====================================
	
	所々、CSSの要素が空っぽのところがあるが、これはわかりやすくするために
	あえて入れている。（ちなみに、この方法は牧野工房というWEBコーディング専
	門の会社の方法を利用している。）
	
	http://waic.jp/docs/jis2010-understanding/#h2_Resources
	
	
===================================== */



/* 大枠
===================================== */

html {
}

body {
}

#header,#globalnavi ul,#siteVisual,#mainTopic,#contents,#localnavi,#bread,#footer {
	margin-left: auto;
	margin-right: auto;
}

#header,#siteVisual,#mainTopic,#bread,#footer  {
	width: auto;
}

#localnavi {
	width: 90%;
}


body {
	background: white;
}
#siteVisual,#mainTopic,#bread,#footer {
	background: white;
}


/* ヘッダー
================================= */


/* グローバルナビ
================================= */
#globalnavi {
	background: #555;
}

/* clearfix! */
#globalnavi:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

#globalnavi ul {
	margin-left:7%;
	min-width: 80%;

	list-style-type: none;
}

#globalnavi ul li {
}

#globalnavi ul li a {
	float: left;
	display: block;
	width: 10%;
	min-width: 8%;
	color: #ccc;
	line-height: 45px;
	font-family: 'arial unicode ms';
	text-decoration: none;
	text-align: center;
}
#globalnavi ul li a#about {
	width: 14%;
}

#globalnavi ul li a:hover {
	background: #222;
}


/* メイントピック（コンテンツとサブを含んでいる）
================================= */
#mainTopic {
	margin-top: 0px;
	margin-bottom: 35px;
	margin-left: 0px;
}

/* clearfix! */
#mainTopic:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}
#about #document #mainTopic p {
}
