/* ====================================
	
	所々、CSSの要素が空っぽのところがあるが、これはわかりやすくするために
	あえて入れている。（ちなみに、この方法は牧野工房というWEBコーディング専
	門の会社の方法を利用している。）
	
	http://waic.jp/docs/jis2010-understanding/#h2_Resources
	
	
===================================== */



/* 大枠
===================================== */

html {
}

body {
}

#header,#globalnavi ul,#siteVisual,#mainTopic,#contents,#localnavi,#footer {
	margin-left: auto;
	margin-right: auto;
}

#header,#mainTopic  {
	width: auto;
}


body {
	background: white;
}
#siteVisual,#mainTopic,#bread,#footer {
	background: white;
}


/* ヘッダー
================================= */


/* グローバルナビ
================================= */
#globalnavi {
	background: #444;
}

/* clearfix! */
#globalnavi:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

#globalnavi ul {
	margin-left:3%;
	width: 768px;
	list-style-type: none;
}

#globalnavi ul li {
}

#globalnavi ul li a {
	float: left;
	display: block;
	/*width: 100px;*/
	width: 15%;
	min-width: 100px;
	color: white;
	line-height: 40px;
	font-size: 15px;
	font-family: "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	font-weight: 600;
	border-top: 5px solid #444;
	border-bottom: 5px solid #444;
	margin-right: 10px;
	text-decoration: none;
	text-align: center;
}

#globalnavi ul li a:hover {
	border-bottom: 5px solid #FD80DD;
}


@font-face {
	font-family: '1';
	src: url('../fonts/prismfont_CLv3.ttf');
}


/* メイントピック（コンテンツとサブを含んでいる）
================================= */
#mainTopic {
	margin-top: 0px;
	margin-bottom: 35px;
	margin-left: 0px;
}

/* clearfix! */
#mainTopic:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}
