/* ====================================
	
	所々、CSSの要素が空っぽのところがあるが、これはわかりやすくするために
	あえて入れている。（ちなみに、この方法は牧野工房というWEBコーディング専
	門の会社の方法を利用している。）
	
	http://waic.jp/docs/jis2010-understanding/#h2_Resources
	
	
===================================== */



/* 大枠
===================================== */

html {
}

body {
}

#header,#globalnavi ul,#siteVisual,#mainTopic,#contents,#localnavi,#bread,#footer {
	margin-left: auto;
	margin-right: auto;
}

#header,#siteVisual,#mainTopic,#bread,#footer  {
	width: auto;
}

#localnavi {
	width: 90%;
}


body {
	background: white;
}
#siteVisual,#mainTopic,#bread,#footer {
	background: white;
}




/* ヘッダー
================================= */


/* グローバルナビ
================================= */
#globalnavi {
	background: #555;
}

/* clearfix! */
#globalnavi:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

#globalnavi ul {
	margin-left:7%;
	width: 80%;
	min-width:70%;
	min-width:500px;

	list-style-type: none;
}

#globalnavi ul li {
}

#globalnavi ul li a {
	float: left;
	display: block;
	width: 15%;
	min-width:100px;
	color: #ccc;
	line-height: 45px;
	font-family: 'arial unicode ms';
	text-decoration: none;
	text-align: center;
}

#globalnavi ul li a:hover {
	background: #222;
}















/* メイントピック（コンテンツとサブを含んでいる）
================================= */
#mainTopic {
	margin-top: 0px;
	margin-bottom: 35px;
}

/* clearfix! */
#mainTopic:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

/* コンテンツ
================================= */
#contents {
	width: 800px;
}



#contents p {
	font-size: 1.2em;
	line-height: 1.5;
	padding-left:60px;
	padding-right:60px;
}


#contents h2 img{
	margin-left: auto;
	margin-right: auto;
}





























/*  ローカルナビ
================================= */
#localnavi {
	margin-bottom: 30px;
}

/* clearfix! */
#localnavi:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

/* リンク */
#localnavi .lnavi_links {
	float: left;
	margin-left: 4%;
	background: #FFFFFF;
	overflow: hidden;
	height: auto;
	width: 48%;
} 

#localnavi .lnavi_links:first-of-type {
	margin: 0px;
}


#localnavi .lnavi_links:hover {
	background-color: rgba(240,240,240,0.1);
}


#localnavi .lnavi_links h3 {
	color: #333333;
	font-size: 1.1em;
} 




#localnavi .lnavi_links img {
	width: 100%;	/*float: right;*/
} 



#localnavi #memoryslot {
	background-image: url(../img/product/memoryslot.png);
	background-position: 89% 75%;
	background-size: 182% auto;
	background-repeat: no-repeat;
}

#localnavi #formalweb {
	background-position: 47% 32%;
	background-size: 134% auto;
	background-repeat: no-repeat;
	background-image: url(../img/product/formalweb.png);
}
