/* 全体としての設定 */
.clearfix:after{ content: "."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}

body, #mainTopic {
	background: white;
	/*font-family: 'skia';*/
}

/* グローバルナビ全体の設定 */
nav#globalnavi {
	background: #444;
	width: 100%;
}
nav#globalnavi:after{ content: "."; display:block; visibility:hidden; clear:both; height:0; font-size:0;} /* clearfix! */

/* Delay: 読み込み順序を保つために，すべて読み終わるまで非表示 */
nav#globalnavi ul,nav#globalnavi #lang_select{height:25px; visibility:hidden;}

/* グローバルナビのリンク一覧 */
nav#globalnavi ul {list-style-type: none;}
nav#globalnavi ul li a {
	display: block;
	color: white;
	line-height: 40px;
	font-size: 15px;
	font-size: 18px;
	font-family: "skia", "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	font-weight: 900;
	margin-right: 10px;
	text-decoration: none;
	text-align: center;
}

/* 言語選択のアイコン(どのスクリーンOK) */
nav#globalnavi #lang_select img {
	width: 40px;
	height: 25px;
	margin-top: 5px;
	margin-right: 3px;
}
nav#globalnavi #lang_select img:last-child {margin-right:0px;}

footer {
	color: white;
	background-image: url("../img/toy/black_cloth.png");
	padding: 90px 5%;
	border-top: 10px solid #FD80DD;
	text-align: center;
}
footer a {color:white;}
footer a:hover {color:Violet;}

/* スマートフォンかタブレット */
@media screen and (min-width: 0px) and (max-width: 920px) {
	nav#globalnavi ul {
		margin-left: 0;
		width: 100%;
	}
	nav#globalnavi ul li a{
		float: none;
		width: 100%;
		border-bottom: 2px solid #CCC;
	}
	#home nav#globalnavi.enabled ul li a#home_gnavi, #about nav#globalnavi.enabled ul li a#about_gnavi,
	#product nav#globalnavi.enabled ul li a#product_gnavi, #toy nav#globalnavi.enabled ul li a#toy_gnavi,
	#research nav#globalnavi.enabled ul li a#rearch_gnavi, #link nav#globalnavi.enabled ul li a#link_gnavi {
		border-bottom: 2px solid #CCC;
		background-color: #333;
	}
	nav#globalnavi #lang_select {
		padding: 5px 0;
		text-align: center;
	}
	footer {
		font-size: 20px;
	}
}
/* PC */
@media screen and (min-width: 921px) {
	nav#globalnavi ul {
		margin-left:3%;
		width: 828px;
	}

	nav#globalnavi ul li a {
		float: left;
		width: 15%;
		border-top: 5px solid #444;
		border-bottom: 5px solid #444;
	}
	nav#globalnavi ul li a:hover {
		border-bottom: 5px solid #FD80DD;
	}

	#home nav#globalnavi ul li a#home_gnavi, #about nav#globalnavi ul li a#about_gnavi,
	#product nav#globalnavi ul li a#product_gnavi, #toy nav#globalnavi ul li a#toy_gnavi,
	#research nav#globalnavi ul li a#research_gnavi, #link nav#globalnavi ul li a#link_gnavi {
		border-bottom: 5px solid #FD80DD;
	}
	nav#globalnavi #lang_select {
		padding: 8px 30px;
		padding-bottom: 0;
		text-align: right;
	}
	footer {
		font-size: 26px;
	}
}

