@import 'sns.css';
#home #mainTopic header{
	width: 100%;
}
#home #mainTopic header:after {content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}
#home #mainTopic article section img.hide {visibility: hidden;}

/*
 * Header
 */
/* LightFox */
#home #mainTopic header #lightfox-anime > img {
	float: left;
	position: relative;
	margin-right: 0%;
	margin-top: -4%;
	z-index: 0;
	pointer-events: none;
}
#home #mainTopic header #aboutme {
	float: left;
	position: relative;
	z-index: 99;
}
/* スマートフォンorタブレット */
@media screen and (min-width: 0px) and (max-width: 920px) {
	#home #mainTopic header #lightfox-anime > img {
		width: 52%;
		margin-left: -8%;
	}
	#home #mainTopic header #aboutme {
		width: 50%;
		margin-left: 5%;
		margin-top: 15%;
	}
}
/* PC */
@media screen and (min-width: 921px) {
	#home #mainTopic header #lightfox-anime > img {
		width: 45%;
		margin-left: -6%;
	}
	#home #mainTopic header #aboutme {
		width: 47%;
		margin-left: 10%;
		margin-top: 13%;
	}
}
#home #mainTopic header #aboutme > h1 {
	/*font-family: 'Skia',"Helvetica Neue";*/
    font-weight: bold;
}
#home #mainTopic header #aboutme > p {
	/*font-family: 'Skia',"Helvetica Neue";*/
    font-weight: normal;
}





/*
 * Article
 */
#home #mainTopic article {
	margin-top: 7%;
}
#home #mainTopic article section {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15%;
}

#home #mainTopic article section:after {content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}

#home #mainTopic article section h2 {
	/*font-family: "skia","Helvetica Neue";*/
    font-weight: 700;
	margin-bottom: 3%;
	text-align: center;
}

#home #mainTopic article section p {
    color: #282828;
    font-weight: 600;
	line-height: 1.4;
}

#home #mainTopic article section#intro p,
#home #mainTopic article section#skills p {
	display: block;
	margin: 0em 0em 0.8em 1px;
	text-indent: 1.0em;
}
#home #mainTopic article section#intro h2 {color:#07C2FA;}
#home #mainTopic article section#skills h2 {color:#66cc00;}


/* Self-introduction */
#home #mainTopic article section#intro img#myface {
	float: right;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
}

#home #mainTopic article section#intro .sns-accounts {
	text-align: center;
}

/* Skills */
#home #mainTopic article section#skills img {
	width: 100%;
	height: auto;
	width: 90%;
	padding: 5% 5%;
	padding-top: 2%;
}

/* My hobby */
#home #mainTopic article section#hobby {
	width: 100%;
	/*min-width: 850px;*/
	margin: 0;
}

#home #mainTopic article section#hobby h2 {
	color: #FF3300;
}

#home #mainTopic article section#hobby .hobbies:after {content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}
#home #mainTopic article section#hobby .hobbies .comment {
	width: 40%;
}
#home #mainTopic article section#hobby .hobbies .comment p {
	padding: 3% 0px 0px 6%;
}

/* My hobby -> Movie */
#home #mainTopic article section#hobby #movie {
}
#home #mainTopic article section#hobby #movie img {
	width: 40%;
	float: left;
	margin-left: 8%;
	padding-top: 4%;
	padding-bottom: 0%;
}
#home #mainTopic article section#hobby #movie .comment {
	float: right;
	margin-top: 9%;
	margin-right: 7%;
}

/* My hobby -> Mountain */
#home #mainTopic article section#hobby #climb {
}
#home #mainTopic article section#hobby #climb img {
	width: 46%;
	margin-top: -8%;
	margin-left: -3%;
}
#home #mainTopic article section#hobby #climb .comment {
	width: 45%;
	float: left;
	margin-top: 9%;
	margin-left: 7%;
}


/* My hobby -> Piano */
#home #mainTopic article section#hobby #piano {
}

#home #mainTopic article section#hobby #piano img {
	float: left;
	width: 60%;
	margin-left: -5%;
	margin-top: -22%;
	padding: 0;
}
#home #mainTopic article section#hobby #piano .comment {
	float: right;
	width: 41%;
	margin-top: 5%;
	margin-left: -20%;
	margin-right: 4%;
}

/* スマホorタブレット */
@media screen and (min-width: 0px) and (max-width: 920px) {
	#home #mainTopic article section {
		width: 88%;
	}
	#home #mainTopic article section#intro p,
	#home #mainTopic article section#skills p {
		padding: 0;
	}
	#home #mainTopic article section#intro img#myface {
		margin: 0px 10px;
		width: 32%;
		text-align: center;
	}
	#home #mainTopic article section#intro .sns-accounts li a i{
		width: 40px;
		height: 40px;
		font-size: 18px;
		line-height: 40px;
	}
	#home #mainTopic article section#skills img {
		border-bottom: dashed 1px #777;
	}
}
/* PC */
@media screen and (min-width: 921px) {
	#home #mainTopic article section {
		width: 82%;
	}
	#home #mainTopic article section#intro p,
	#home #mainTopic article section#skills p {
		padding: 5px 0px 0px 20px;
	}
	#home #mainTopic article section p {
		border-left: 4px solid #BBB;
	}
	#home #mainTopic article section#intro img#myface {
		margin: 25px;
		width: 22%;
	}
	#home #mainTopic article section#intro .sns-accounts li a i{
		width: 70px;
		height: 70px;
		font-size: 32px;
		line-height: 70px;
	}

	#home #mainTopic article section#skills img {
		border-bottom: dashed 4px #777;
	}
}
