@import 'post_body.css';
@import 'sns.css';
#link #mainTopic {
	margin: 8% 0;
	margin-left: auto;
	margin-right: auto;
	width: 85%;	
}
#link .post-body img {
	width: 40%;
}
/* スマホ */
@media screen and (min-width: 0px) and (max-width: 371px) {
	#link .post-body img {width:80%;}
}
/* タブレット or PC */
@media screen and (min-width: 372px) {
	#link .post-body img {width:40%;}
}
