
/* グローバルナビ
================================= */
#link #globalnavi ul li a#link_gnavi {
	border-bottom: 5px solid #FD80DD;
}
#link #globalnavi ul li a#link_gnavi:hover {
}



#link #mainTopic {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;	
}

#link #mainTopic h2 {
	font-size: 28px;
}

#link #mainTopic h2 span {
	font-size: 18px;
}

#link #mainTopic ul {
	padding-left: 30px;
	padding-top: 7px;
	list-style-type: square;
}

#link #mainTopic img {
    margin: 0;
    padding: 0;
}

#link #mainTopic ul li a {
	color: #F5D;
	font-size: 24px;
}

#link #mainTopic ul li a:hover {
	text-decoration: underline;
}

#link #mainTopic address {
	margin-top: 25px;
}
