
/* グローバルナビ
================================= */
#product #globalnavi ul li a#product_gnavi {
	border-bottom: 5px solid #FD80DD;
}
#product #globalnavi ul li a#product_gnavi:hover {
}

#product header {
}


/* clearfix! */
#product header:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
}


#product header,
#product #localnavi {
	min-width: 650px;
}


#product header div.bx-pager,
#product div#localnavi div.twin_block {
	visibility: hidden;
}

/*
 * bxsliderで最初の2秒間、「表示、読み込み」をしない領域(img.hide)
 */
#product header ul li a img.hide {
	display: none;
}


#product header ul li a img {
	width: 100%;
}


#product #localnavi {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#product #localnavi .twin_block .local_links {
	background: white;
	overflow: hidden; /* 要素が現れているところまで画像を表示 */
	height: auto;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
} 
#product #localnavi .twin_block .local_links:first-of-type {
	margin-left: 0px;
}

#product #localnavi .twin_block .local_links a h2 {
	position: relative;
	padding: 5px 8px;
	text-align: center;
	width: 45%;
	background-color: rgba(255,255,255,0.85);
	color: #333;
	font-size: 1.6em;
	margin-top: -50px;
} 

#product #localnavi .twin_block .local_links a img {
	width: 100%;
} 




/*
 * タブレット
 */

/*
@media only screen and (min-device-width: 320px) and (max-device-width: 921px) {
	#product #localnavi .twin_block {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	#product #localnavi .local_links {
		margin-bottom: 12%;
	}
}
*/


/*
 * PC version
 */
/*@media not screen and (max-device-width: 921px) {*/
/*@media screen and (man-width:921px) {*/
	#product #localnavi .twin_block {
		margin-bottom: 50px;
	}

	/* clearfix! */
	#product #localnavi .twin_block:after {
		content: ".";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		font-size: 0;
	}

	#product #localnavi .twin_block .local_links {
		float: left;
		margin-left: 6%;
		width: 47%;
	}

	/* clearfix! */
	#product #localnavi .twin_block .local_links:after {
		content: ".";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		font-size: 0;
	}
/*}*/

