/* グローバルナビ
================================= */
#program #globalnavi ul li a#program_gnavi {
	border-bottom: 5px solid #FD80DD;
}
#program #globalnavi ul li a#program_gnavi:hover {
}
#program #mainTopic header {
	background-image: url("../img/program/black_cloth.png");
	height: 320px;
}

#program #mainTopic header h1 {
	font-family: 'Hiragino Mincho ProN';
	color: white;
	font-size: 11em;
}

#program #mainTopic header ul li {
	border-right: 2px solid #FFF;
}

#program #mainTopic header li:last-child {
	border: none;
}


#program #mainTopic article {
	clear: both;
}






@font-face {
	font-family: 'Linux';
	font-style: normal;
	src: url('../fonts/LinLibertine_aSZI.ttf');
}

