
/* グローバルナビ
================================= */
#research #document #mainTopic header {
	margin-top: 50px;
	margin-left: 4%;
	min-width: 950px;
}

/* clearfix! */
#research #document #mainTopic header:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

#research #document #mainTopic header > img {
	float: left;
	width: 54%;
	margin-top: 11%;
	z-index: 0;
	pointer-events: none;
}
#research #document #mainTopic header #nirf {
	float: left;
	width: 52%;
	margin-left: -12%;
	position: relative;
}

#research #document #mainTopic header #nirf h1 {
	position: relative;
	z-index: 99;
	font-style: italic;
	font-size: 144px;
}

#research #document #mainTopic header #nirf p {
	position: relative;
	z-index: 99;
	font-size: 80px;
	font-weight: 600;
	margin-top: -6%;
	margin-left: -4%;
}

#research #document #mainTopic header #nirf > img {
	position: relative;
	z-index: 1;
	width: 47%;
	margin-top: -40%;
	margin-left: 60%;
}


#research #document #mainTopic article {
	margin-top: 60px;
	margin-left: 6%; 
	margin-bottom: 20px;
	width: 88%;
	min-width: 950px;
}

#research #document #mainTopic article section {
	margin-top: 40px;
}

#research #document #mainTopic article section h2 {
	padding: 0px 75px;
	padding-top: 10px;
	padding-bottom: 7px;
	border-bottom: 4px solid black;
	font-size: 38px;
	background-image: url("../img/research/NIRF_logo_thumb.png");
	background-repeat: no-repeat;
	background-position: top top;
	background-size: 70px;
}

#research #document #mainTopic article section p {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	font-size: 24px;
}

