/* SNS Tools */
.sns-accounts ul {padding:0;margin:0;}
.sns-accounts li{list-style:none;display:inline-block;margin-right:10px;padding:0;font-weight:700;text-transform:uppercase}
.sns-accounts li:first-child {font-size:16px;color:#22a1c4;}
.sns-accounts li a{display:block;text-align:center;}
.sns-accounts span{display:none;}
.sns-accounts li a i{display:block;color:white;width:40px;height:40px;line-height:40px;font-size:18px;border-radius:40px;font-weight:normal;transition:all .3s;}
.sns-accounts{margin-bottom:30px;line-height:52px;min-height:52px;}
.sns-accounts li a i.fa.fa-facebook{background:#3b5998;border:1px solid transparent;}
.sns-accounts li a i.fa.fa-twitter{background:#19bfe5;border:1px solid transparent;}
.sns-accounts li a i.fa.fa-google-plus{background:#d64136;border:1px solid transparent;}
.sns-accounts li a i.fa.fa-linkedin{background:#006699;border:1px solid transparent;}
.sns-accounts li a i.fa.fa-pinterest{background:#cb2027;border:1px solid transparent;}
.sns-accounts li a i.fa.fa-github{color:white; background:#235;border:1px solid transparent;}

.sns-accounts li a i.fa.fa-facebook:hover{background:#fff;color:#3b5998;border:1px solid #4666aa;}
.sns-accounts li a i.fa.fa-twitter:hover{background:#fff;color:#19bfe5;border:1px solid #2acef4;}
.sns-accounts li a i.fa.fa-google-plus:hover{background:#fff;color:#d64136;border:1px solid #e95247;}
.sns-accounts li a i.fa.fa-linkedin:hover{background:#fff;color:#006699;border:1px solid #017ab6;}
.sns-accounts li a i.fa.fa-pinterest:hover{background:#fff;color:#cb2027;border:1px solid #e33239;}
.sns-accounts li a i.fa.fa-github:hover{background:#fff;color:#235;border:1px solid #235;}
