@import 'post_body.css';

/* ヘッダーの共通部分 */
#toy #mainTopic header {
	background-image: url("../img/toy/black_cloth.png");
}
#toy #mainTopic header:after {content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}
#toy #mainTopic header h1 {
	float: right;
	font-family: 'Hiragino Mincho ProN';
	color: white;
	margin-top: 40px;
	margin-right: 7%;
}

/* 記事のの共通部分 */
#toy #mainTopic article {
	margin-top: 2%;
	margin-bottom: 5%;
	clear: both; /*念のため*/
}
#toy #mainTopic article .post-body,
#toy #mainTopic article #right-contents {
	padding: 2% 2%;
}
#toy #mainTopic article .post-body {
	font-family: Arial, sans-serif;
	color: #3d5054;
}

/* 右側のサイドメニュー */
#toy #mainTopic article #right-contents ul#detail-links {
	list-style-type: none;
}
#toy #mainTopic article #right-contents ul#detail-links li a {
	display: block;
	float: left;
	color: white;
	background-color: #33FF33;
	margin: 4px;
	line-height: 35px;
	padding: 0px 10px;
	font-size: 16px;
	font-weight: 800;
	text-decoration: none;
	text-align: center;
}
#toy #mainTopic article #right-contents ul#detail-links:after {content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}


/* スマホのみ */
@media screen and (min-width: 0px) and (max-width:371px) {
	/* Toy文字の設定 */
	#toy #mainTopic header h1 {
		font-size: 64px;
		line-height: 64px;
	}
	#toy #mainTopic header nav#localnavi ul { padding-top: 120px; }
	#toy #mainTopic header nav#localnavi select { margin-top: 20px; }
}
/* タブレットのみ */
@media screen and (min-width: 372px) and (max-width:920px) {
	/* Toy文字の設定 */
	#toy #mainTopic header h1 {
		font-size: 138px;
		line-height: 138px;
	}
	#toy #mainTopic header nav#localnavi ul { padding-top: 210px; }
	#toy #mainTopic header nav#localnavi select { margin-top: 30px; }
}
/* スマホorタブレット */
@media screen and (min-width: 0px) and (max-width:920px) {
	/* ローカルメニューの設定 */
	#toy #mainTopic header nav#localnavi select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 21px;
		position: relative;
		width: 100%;
		padding: 8px;
		background: url('../img/toy/arrow_for_select.png') no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
		font-family: 'skia',Arial, sans-serif;
		background-position: 98% 50%;
		background-size: 25px;
	}
	#toy #mainTopic article .post-body {
		border-bottom: 3px solid #BBB;
	}
}
/* PC */
@media only screen and (min-width:921px) {
	/* Toy文字の設定 */
	#toy #mainTopic header h1 {
		font-size: 200px;
		line-height: 200px;
	}
	#toy #mainTopic header nav#localnavi ul { padding-top: 240px; }
	#toy #mainTopic header { border-bottom: 8px solid #ff4eAA; }

	#toy #mainTopic header nav#localnavi ul {
		margin-left: 4%;
	}

	#toy #mainTopic header nav#localnavi ul li {
		border-right: 2px solid #FFF;
	}

	#toy #mainTopic header nav#localnavi ul li:last-child {
		border: none;
	}

	#toy #mainTopic header nav#localnavi ul li a {
		float: left;
		background-color: #6e6a6a;
		color: white;
		font-size: 18px;
		padding: 0px 10px;
		line-height: 40px;
		font-weight: 800;
	}
	#toy #mainTopic header nav#localnavi ul li a.active {background-color:#ff4e95;}
	#toy #mainTopic header nav#localnavi ul:after {content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}


	#toy #mainTopic article:after {content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0;}
	#toy #mainTopic article .post-body {
		width: 62%;
		border-right: 5px solid #BBB;
	}

	#toy #mainTopic article .post-body,
	#toy #mainTopic article #right-contents {
		float: left;
	}
	#toy #mainTopic article .post-body {
		margin-left: 3%;
	}
	#toy #mainTopic article #right-contents {
		width: 24%;
	}
}
