/* グローバルナビ
================================= */
#toy #mainTopic header {
	background-image: url("../img/toy/black_cloth.png");
	border-bottom: 8px solid #ff4eAA;
}

/* clearfix! */
#toy #mainTopic header:after {
	content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}

#toy #mainTopic header h1 {
	float: right;
	font-family: 'Hiragino Mincho ProN';
	color: white;
	line-height: 200px;
	margin-top: 40px;
	margin-right: 7%;
	text-align: right;
}

@media screen and (min-width: 0px) and (max-width:321px) {
	#toy #mainTopic header h1 {
		font-size: 8em;
	}
}
@media screen and (min-width: 321px) and (max-width:921px) {
	#toy #mainTopic header h1 {
		font-size: 10em;
	}
}
@media screen and (min-width:921px) {
	#toy #mainTopic header h1 {
		font-size: 12em;
	}
}


/*
 * ここのfloat&clearfix設定により,localnaviを設定
 */
#toy #mainTopic header nav#localnavi ul {
	padding-top: 250px;
	margin-left: 4%;
}

#toy #mainTopic header nav#localnavi ul li {
	border-right: 2px solid #FFF;
}

#toy #mainTopic header nav#localnavi ul li:last-child {
	border: none;
}

#toy #mainTopic header nav#localnavi ul li a {
	float: left;
	background-color: #6e6a6a;
	color: white;
	font-size: 18px;
	padding: 0px 10px;
	line-height: 40px;
	font-family: "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}




#toy #mainTopic header nav#localnavi ul li a.active {
	background-color: #ff4e95;
}

#toy #mainTopic header nav#localnavi ul:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
}


#toy #mainTopic article {
	margin-top: 20px;
	clear: both;
}

/*
 * PCの設定
 */
@media only screen and (min-width:921px) {
	/* clearfix! */
	#toy #mainTopic article:after {
		content: ".";
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		font-size: 0;
	}

	#toy #mainTopic article div#post-body {
		width: 62%;
		border-right: 5px solid #BBB;
	}

	#toy #mainTopic article div#right-contents {
		width: 24%;
	}

	#toy #mainTopic article div#post-body,
	#toy #mainTopic article div#right-contents {
		float: left;
	}
}



#toy #mainTopic article div#post-body {
	font-family: Arial, sans-serif;
	color: #3d5054;
	padding: 20px 3%;
	margin-left: 3%;
}

/*
 * 各記事のメインタイトル、主に画像になる
 */
#toy #mainTopic article div#post-body h2 {
	
}

#toy #mainTopic article div#post-body h3 {
	padding-left: 25px;
	padding-bottom: 5px;
	font-size: 32px;	
	border-bottom: 3px solid #3d5054;
}

#toy #mainTopic article div#post-body p {
	font-size: 18px;
	line-height: 31px;
	padding: 20px 15px;
}

#toy #mainTopic article div#post-body ul {
	
}

#toy #mainTopic article div#post-body ul li {
	
}


#toy #mainTopic article div#right-contents {
	padding: 20px 2%;
}

#toy #mainTopic article div#right-contents ul {
	margin-left:3%;
	list-style-type: none;
}

#toy #mainTopic article div#right-contents ul#detail-links li a {
	color: white;
	background-color: #33FF33;
	font-family: "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	margin: 4px;
	line-height: 35px;
	padding: 0px 10px;
	font-size: 12px;
	font-weight: 800;
	float: left;
	display: block;
	text-decoration: none;
	text-align: center;
}

@font-face {
	font-family: 'Linux';
	font-style: normal;
	src: url('../fonts/LinLibertine_aSZI.ttf');
}
