{% extends "base_template.html" %}
{% block add_head %}
	<!--<script src="{{static_path}}/js/setting_about-page.js" type="text/javascript"></script>-->
{% endblock %}

{% block content %}
			<header>
				<div id="aboutme">
					<h1 data-i18n="about.aboutme.tasuku"></h1>
					<p data-i18n="about.aboutme.myfield"></p>
				</div>
				<div id="lightfox-anime">
					<img src="{{static_path}}/img/{{id}}/LightFox.gif" alt="LightFox" id = "LightFox"/>
				</div>
				<div class=".clearfix"></div>
			</header>

			<article>
				<section id="intro">
					<h2 data-i18n="about.intro.title"></h2>
					<p>
						<span data-i18n="about.intro.contents-1"></span>
						<a data-i18n="about.intro.contents-2" href="http://rudds.jp/"></a>
						<span data-i18n="about.intro.contents-3" ></span>
					</p>

					<img src="{{static_path}}/img/{{id}}/tasuku.jpg" alt="Tasuku TAKAHASHI" id="myface"/>

					<p data-i18n="about.intro.contents-4"></p>
					<p data-i18n="about.intro.contents-5" ></p>
				</section>

				<section id="skills">
					<h2 data-i18n="about.skill.title"></h2>
					<p data-i18n="about.skill.contents-1"></p>
					<p data-i18n="about.skill.contents-2"></p>
				</section>

				<section id="hobby">
					<h2>My hobby</h2>

					<div class="hobbies" id="movie">
						<img src="{{static_path}}/img/{{id}}/movies.png" alt="Movies"/>
						<div class="comment">
							<h3>To watch movies and listen to music.</h3>
							<p>I like to watch movies. For example, PRISON BREAK, HEROES, THE4400, 24, Dark Angel, THE OC, and so on. and to listen to music, "Fear and lothing in Las Vegas", Capsule, Krewella, Perfume, and so on.</p>
						</div>
					<!-- /#movie --></div>

					<div class="hobbies" id="climb">
						<div class="comment">
							<h3>To climb mountain.</h3>
							<p>I climb moutain sometimes, I have ever climbed Fujiyama, Tateyama, Atagoyama, Rokkosan and so on. </p>
						</div>
						<img src="{{static_path}}/img/{{id}}/climb_bag.png" alt="Mountain" />
					<!-- /#mountain --></div> <!-- style="width:200px; height: 200px;" -->

					<div class="hobbies" id="piano">
						<img src="{{static_path}}/img/{{id}}/keyboard.png" alt="To play piano"/>
						<div class="comment">
							<h3>To play piano, and make music by DTM.</h3>
							<p>I play classic piano. and I make music by DTM software. I make background music of game. I'm going to make cool electonic music.</p>
						</div>
					<!-- /#piano --></div>
				</section>
			</article>
			<footer>
				<img src="{{static_path}}/img/{{id}}/black_slash.png" id="black_slash" />
				<div id="footer_info">
					<img src="{{static_path}}/img/{{id}}/black.png" />
				</div>
			</footer>
{% endblock %}

{% block back_js %}
	<script src="{{static_path}}/js/setting_about-page.js" type="text/javascript"></script>

	<script>
			//$("#about #mainTopic header #aboutme h1").fitText(1.0,{minFontSize:'12px',maxFontSize: '72px'});
			//$("#about #mainTopic header #aboutme p").fitText(1.4,{minFontSize:'9px',maxFontSize: '64px'});
	</script>
{% endblock %}
