<!DOCTYPE html>
<html>
<head>
	<meta name = "description" content="This is Website for TasukuTAKAHASHI." />
	<meta name = "keyboard" content="SuperTask,TasukuTAKAHASHI,Taskernet,縺溘°縺ッ縺励◆縺吶¥" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, target-densitydpi=160">
	<title>Supertask - {{title}}</title>

	<!-- CSS -->
	<link href="{{static_path}}/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="{{static_path}}/css/all.css" rel="stylesheet" type="text/css" />
	<link href="{{static_path}}/css/{{id}}.css" rel="stylesheet" type="text/css" />
	<link href="{{static_path}}/css/jquery.fs.naver.css" rel="stylesheet" type="text/css" />


	<!-- JavaScript -->
	<script src="{{static_path}}/js/jquery.min.js" type="text/javascript"></script>
	<script src="{{static_path}}/js/jquery.fittext.js" type="text/javascript"></script>
	<script src="{{static_path}}/js/i18next-1.10.1.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function(){
			i18n.init({
				resGetPath: '{{static_path}}/articles/{{id}}/trans-__lng__.json'
			}, function(err, t) {
				var auto_selected_lang = ''; //現在はデフォルトは英語

				if (i18n.lng() === 'en' || i18n.lng() === 'ja') {
					/* キャッシュがあるとき */
					auto_selected_lang = i18n.lng();
				}
				else {
					/*キャッシュがなく、どの言語にするべきか、わからない場合。*/
					auto_selected_lang = (navigator.languages ? navigator.languages[0] : (navigator.language || navigator.userLanguage || navigator.browserLanguage)).substr(0, 2);
				}
				i18n.setLng(auto_selected_lang);
				$("#{{id}} div#mainTopic").i18n();
			});
		});
	</script>

	<script src="{{static_path}}/js/jquery.fs.naver.js"></script>
	<script>
		$(document).ready(function() {
		  $("nav").naver({
			labels: {
			  closed: "Supertask",
			  open: "Close"
			},
			maxWidth: "950px"
		  });
		});
	</script>




	<!-- Each original head -->
	{% block add_head %}{% endblock %}
</head>

<body class="supertask" id="{{id}}">

<div id = "document">

<nav id="globalnavi" class="naver">
	<ul>
		{% for g_path,g_id,g_title in globalnavi_zip %}
			<li><a href="{{g_path}}" id="{{g_id}}_gnavi">{{g_title}}</a></li>
		{% endfor %}
	</ul>
	<div id="lang_select">
		<img src="{{static_path}}/img/header/lang_us.jpg" alt="English" id="trans-en" />
		<img src="{{static_path}}/img/header/lang_jp.jpg" alt="Japanese" id="trans-ja" />
	</div>
</nav>



<div id = "mainTopic">
{% block content %}{% endblock %}
<!-- /#mainTopic --></div>


{% block back_js %}{% endblock %}


<!-- /#document --></div>
</body>
</html>
