<!DOCTYPE html>
<html>
<head>
	<meta name = "description" content="This is Website for TasukuTAKAHASHI." />
	<meta name = "keyboard" content="SuperTask,TasukuTAKAHASHI,Taskernet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Supertask - {{title}}</title>

	<!-- CSS from here -->
	<link href="{{static_path}}/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="{{static_path}}/css/all.css" rel="stylesheet" type="text/css" />
	<link href="{{static_path}}/css/{{id}}.css" rel="stylesheet" type="text/css" />
	<link href="{{static_path}}/css/lib/jquery.fs.naver.css" rel="stylesheet" type="text/css" />

	<!-- JavaScript from here -->
	<script src="{{static_path}}/js/lib/jquery.min.js" type="text/javascript"></script> <!-- JQUERY -->
	<script src="{{static_path}}/js/lib/jquery.fittext.js" type="text/javascript"></script> <!-- レスポンシブなテキスト -->
	<script type="text/javascript">
		var language_path = '{{static_path}}/articles/{{id}}-__lng__.json';
		{% block lang_path %}{% endblock %}
	</script>
	<script src="{{static_path}}/js/init_lang.js"></script>

	<!-- 言語選択の設定 -->
	<script src="{{static_path}}/js/lib/i18next-1.10.1.min.js" type="text/javascript"></script>
	
	<!-- スマホ用のglobalnaviの設定 -->
	<script src="{{static_path}}/js/lib/jquery.fs.naver.min.js"></script>
	<script>
		$(document).ready(function() {
		  $("nav#globalnavi").naver({
			labels: {
			  closed: "Supertask",
			  open: "Close"
			},
			maxWidth: "921px"
		  });
		});
	</script>
	<script src="{{static_path}}/js/delay_globalnavi.js"></script>

	<!-- Each original head -->
	{% block add_head %}{% endblock %}
</head>

<body class="supertask" id="{{id}}">

<div id = "document">

<nav id="globalnavi" class="naver">
	<ul>
		{% for g_navi in global_navis %}
            {% if g_navi.title == 'BLOG' %}
                <li><a href="http://memotask.blogspot.jp" target='_blank' id="{{g_navi.id}}_gnavi">{{g_navi.title}}</a></li>
            {% else  %}
                <li><a href="{{g_navi.path}}" id="{{g_navi.id}}_gnavi">{{g_navi.title}}</a></li>
            {% endif %}
		{% endfor %}
	</ul>
	<div id="lang_select">
		<img src="{{static_path}}/img/header/lang_us.jpg" alt="English" id="trans-en" />
		<img src="{{static_path}}/img/header/lang_jp.jpg" alt="Japanese" id="trans-ja" />
	</div>
</nav>

<div id = "mainTopic">
	{% block content %}{% endblock %}
<!-- /#mainTopic --></div>

<footer>
	<a href='https://www.facebook.com/tasuku.takahashi.142' alt='Who is Tasuku TAKAHASHI' target='_blank'>Tasuku TAKAHASHI</a> ・ <a href='https://twitter.com/pythor' alt='My twtter account' target='_blank'>@pythor</a> ・<a href='http://creativecommons.org/licenses/by-sa/4.0/' alt='License' target='_blank'>CC BY-SA</a>
</footer>

{% block back_js %}{% endblock %}

<!-- /#document --></div>
</body>
</html>
