<!DOCTYPE html>
<html>
<head>
	<meta name = "description" content="This is Website for TasukuTAKAHASHI." />
	<meta name = "keyboard" content="SuperTask,TasukuTAKAHASHI,Taskernet,たかはしたすく" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Supertask - {{title}}</title>

	<!-- CSS -->
	<link href="{{static_path}}/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="{{static_path}}/css/all.css" rel="stylesheet" type="text/css" />
	<link href="{{static_path}}/css/{{id}}.css" rel="stylesheet" type="text/css" />

	<!-- JavaScript -->
	<script src="{{static_path}}/js/jquery.min.js"></script>
	<script src="{{static_path}}/js/jquery.fittext.js"></script>
	<script src="{{static_path}}/js/i18next-1.10.1.min.js"></script>
	{% block add_head %}{% endblock %}
</head>

<body class="supertask" id="{{id}}">

<div id = "document">
		<div id = "globalnavi">
			<ul>
				{% for g_path,g_id,g_title in globalnavi_zip %}
					{% if id == "home" %}
						<li><a href="{{g_path}}" id="{{g_id}}_gnavi">{{g_title}}</a></li>
					{% else %}
						<li><a href=".{{g_path}}" id="{{g_id}}_gnavi">{{g_title}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			<div id="lang_select">
				<img src="{{static_path}}/img/header/lang_en.jpg" alt="English" />
				<img src="{{static_path}}/img/header/lang_jp.jpg" alt="Japanese" />
			</div>
		<!-- /#globalnavi --></div>

		<div id = "mainTopic">
			{% block content %}{% endblock %}
		<!-- /#mainTopic --></div>

		<script type="text/javascript">
			{% block scale_js %}{% endblock %}
		</script>

<!-- /#document --></div>
</body>
</html>
