{% extends "base_template.html" %}

{% block content %}
<div class='post-body'>
    <h2 class='point_line'>Memo Task</h2>
    <a href="http://memotask.blogspot.jp" target="_blank"><img src="{{static_path}}/img/link/memotask_logo.png" width="200" /></a>

    <h2 class='point_line'>トビタテ留学Japan</h2>
    <a href="http://tobitate4.blogspot.jp" target="_blank"><img src="{{static_path}}/img/link/tobitate_logo.png" width="200" /></a>

    <h2 class='point_line'>トビタテ留学Japan</h2>
    <div class="sns-accounts">
        <ul class="entry-share-list clearfix">
        <li class="facebook_share"><a href="https://www.facebook.com/tasuku.takahashi.142" target="_blank"><i class="fa fa-facebook"></i><span class="share-text"></span></a></li>
        <li class="twitter_share"><a href="https://twitter.com/pythor" target="_blank"><i class="fa fa-twitter"></i><span class="share-text"></span></a></li>
        <li class="github_share"><a href="https://github.com/0ED" target="_blank"><i class="fa fa-github"></i><span class="share-text"></span></a></li>
        </ul>
    </div>

</div>
{% endblock %}

{% block back_js %}
{% endblock %}
