{% extends "base_template.html" %}

{% block add_head %}
	<link href="{{static_path}}/css/lib/jquery.bxslider.css" rel="stylesheet" type="text/css" />
	<script src="{{static_path}}/js/lib/jquery.bxslider.min.js" type="text/javascript"></script>
	<script src="{{static_path}}/js/delay_bxslider.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
			<header>
				<ul class="bxslider">
					<li><a href="http://rudds.jp/labo3d" target='_blank'><img class='active' title="Labo3D" src="{{static_path}}/img/{{id}}/big_labo3d.png" width="100%"/></a></li>
					<li><a href="https://github.com/supertask/MemorySlot" target='_blank'><img class='hide' title="Memory Slot" src="{{static_path}}/img/{{id}}/big_memoryslot.png" width="100%"/></a></li>
					<li><a href="./research" target='_blank'><img class='hide' title="NIRF" src="{{static_path}}/img/{{id}}/big_nirf.png" width="100%"/></a></li>
					<li><a href="https://github.com/supertask/paladin"><img class='hide' title="Paladin" src="{{static_path}}/img/{{id}}/big_paladin.png" width="100%"/></a></li>
				</ul>
			</header>

			<div id="localnavi">
				<div class = "twin_block">
                    <a class="local_links" href="http://rudds.jp/labo3d" target='_blank'>
                        <img src="{{static_path}}/img/{{id}}/small_labo3d.png" alt="Labo3D" />
                    </a>
                    <a class="local_links" href="https://github.com/supertask/MemorySlot" target='_blank'>
                        <img src="{{static_path}}/img/{{id}}/small_memoryslot.png" alt="Memory Slot" />
                    </a>
				</div>

				<div class = "twin_block">
                    <a class="local_links" href="https://github.com/supertask/RashHour" target='_blank'>
                        <img src="{{static_path}}/img/{{id}}/small_rashhour.png" alt="RashHour" />
                    </a>
                    <a class="local_links" href="http://www.cse.kyoto-su.ac.jp/~g1144704/jikken" target='_blank'>
                        <img src="{{static_path}}/img/{{id}}/small_formalweb.png" alt="Formal Web" />
                    </a>
				</div>

				<div class = "twin_block">
                    <a class="local_links" href="https://github.com/supertask/UnitX" target='_blank'>
                        <img src="{{static_path}}/img/{{id}}/small_unitx.png" alt="UnitX" />
                    </a>
                    <a class="local_links"  href="research" target='_blank'>
                        <img src="{{static_path}}/img/{{id}}/small_nirf.png" alt="NIRF" />
                    </a>
				</div>

				<div class = "twin_block">
                    <a class="local_links" href="https://github.com/supertask/paladin" target='_blank'>
                        <img src="{{static_path}}/img/{{id}}/small_paladin.png" alt="Programming language Paladin" />
                    </a>
                    <a class="local_links" href="">
                        <img src="{{static_path}}/img/{{id}}/small_coming_soon.png" alt="Coming soon" />
                    </a>
				</div>
			</div>

{% endblock %}


{% block back_js %}
		<script type="text/javascript">
			$("#{{id}} div#mainTopic .local_links h2").fitText(0.9,{minFontSize:'13px',maxFontSize: '92px'});
		</script>

{% endblock %}
