{% extends "base_template.html" %}

{% block content %}
			
			<header>
				<a href="http://rudds.jp/labo3d">
					<img src="{{static_path}}/img/{{id}}/labo3d.png" width="100%"/>
				</a>
			</header>

			<div id="localnavi">
				<div class = "twin_block">
					<div class = "local_links">
						<a href="https://github.com/0ED/MemorySlot">
							<img src="{{static_path}}/img/{{id}}/memoryslot.png" alt="Memory Slot" />
							<h2>Memory Slot</h2>
						</a>
					<!-- /.local_links --></div>

					<div class = "local_links">
						<a href="http://www.cse.kyoto-su.ac.jp/~g1144704/jikken">
							<img src="{{static_path}}/img/{{id}}/formalweb.png" alt="Formal Web" />
							<h2>Formal Web</h2>
						</a>
					<!-- /.local_links --></div>
				</div>

				<div class = "twin_block">
					<div class = "local_links">
						<a href="research">
							<img src="{{static_path}}/img/{{id}}/NIRF.png" alt="NIRF" />
							<h2>NIRF</h2>
						</a>
					<!-- /.local_links --></div>

					<div class = "local_links">
						<a href="https://github.com/0ED/paladin">
							<img src="{{static_path}}/img/{{id}}/paladin.png" alt="Programming language Paladin" />
							<h2>Paladin</h2>
						</a>
					<!-- /.local_links --></div>
				</div>

			<!-- /#localnavi --></div>

{% endblock %}


{% block scale_js %}

{% endblock %}
