{% extends "base_template.html" %}

{% block lang_path %}
	language_path = '{{static_path}}/articles/{{id}}/{{l_link_active}}/{{detail_link_active}}-__lng__.json';
{% endblock %}

{% block add_head %}
	<script src="{{static_path}}/js/lib/jquery.mobilemenu.min.js"></script>
	<script>
		$(document).ready(function(){
			$('nav#localnavi ul').mobileMenu({topOptionText: 'Select a content', switchWidth:922, prependTo: 'nav#localnavi', combine:true});
		});
	</script>
{% endblock %}

{% block content %}
				<header>
					<h1>Toy</h1>

                    <nav id='localnavi'>
					    <ul>
                            {% for l_link in l_links %}
                                {% if l_link == l_link_active %}
                                    <li><a class="active" href="?key_line={{l_link}},Introduction">{{l_link}}</a></li>
                                {% else  %}
                                    <li><a href="?key_line={{l_link}},Introduction">{{l_link}}</a></li>
                                {% endif %}
                            {% endfor %}
                   		</ul>
                	</nav>
				</header>

				<article>
					<div class="post-body">
					{{my_article|raw}}
					</div>

					<div id="right-contents">
						<ul id="detail-links">
							{% for detail_link in detail_links %}
								<li><a href="?key_line={{l_link_active}},{{detail_link}}">{{detail_link}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</article>
{% endblock %}

{% block back_js %}
{% endblock %}
