{% extends "base_template.html" %}

{% block add_head %}
	<script src="{{static_path}}/js/jquery.mobilemenu.min.js"></script>
	<script>
		$(document).ready(function(){
			$('nav#localnavi ul').mobileMenu({topOptionText: 'Select a content', switchWidth:922, prependTo: 'nav#localnavi', combine:true});
			//$('nav#localnavi ul').mobileMenu();
		});
	</script>
{% endblock %}

{% block content %}
				<header>
					<h1>Toy</h1>

                    <nav id='localnavi'>
					    <ul>
                            {% for a_link in localnavi_links %}
                                {% if a_link == localnavi_link %}
                                    <li><a class="active" href="?key_line={{a_link}},Introduction">{{a_link}}</a></li>
                                {% else  %}
                                    <li><a href="?key_line={{a_link}},Introduction">{{a_link}}</a></li>
                                {% endif %}
                            {% endfor %}
                   		</ul>
                	</nav>
				</header>

				<article>
					<div id="post-body">
					{{my_article}}
					</div>

					<div id="right-contents">
						<ul id="detail-links">
							{% for detail_link in detail_links %}
								<li><a href="?contents={{localnavi_link}},{{detail_links}}">{{detail_link}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</article>
{% endblock %}

{% block back_js %}
{% endblock %}
